Repository kilip/omed, changes with the labels that .github/labeler.yaml gives for each.
All labels: cms, dash, demo, ci, docs, test

.github/labeler.yaml:

---
# Areas
cms:
  - changed-files:
      - any-glob-to-any-file:
          - "cms/**/*"

dash:
  - changed-files:
      - any-glob-to-any-file:
          - "ui/apps/dash/**/*"

demo:
  - changed-files:
      - any-glob-to-any-file:
          - "ui/apps/demo/**/*"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"

test:
  - changed-files:
      - any-glob-to-any-file:
          - "cms/test/**/*"
          - "ui/apps/**/*.spec.ts"
          - "ui/apps/**/*.test.ts"
          - "ui/packages/**/*.spec.ts"
          - "ui/packages/**/*.test.ts"

chore(tools): integrated husky :hammer:
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: none

chore(tools): integrated commitlint :hammer:
  .commitlintrc
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Labels: none

chore(tools): fixed renovate semantic commits config :hammer:
  .github/renovate.json
Labels: ci

refactor(cms): restructured project layout :fire:
  api.go
  cmd/atlas/main.go
  internal/contracts/context.go
  internal/contracts/user.go
  internal/delivery/http/controller/user.go
  internal/delivery/http/server.go
  internal/delivery/http/types.go
  internal/domain/user/entity.go
  internal/domain/user/repository.go
  internal/domain/user/service.go
  internal/infra/database/dal/cms_user.gen.go
  internal/infra/database/repository/user.go
  internal/infra/database/repository/user_test.go
  internal/infra/dispatcher/dispatcher.go
  internal/infra/dispatcher/dispatcher_test.go
  internal/infra/dispatcher/event.go
  internal/service/user.go
  internal/service/user_test.go
  internal/utils/config_test.go
  migrations/.gitkeep
  migrations/20250820013746_initial.down.sql
  migrations/20250820013746_initial.up.sql
  migrations/atlas.sum
  test/helper.go
  test/mocks.go
  test/unit/service/mocks.go
Labels: none

refactor(cms): simplified http delivery :fire:
  .air.toml
  .dockerignore
  .tmp/.gitkeep
  Dockerfile
  Taskfile.yaml
  compose.yaml
  internal/delivery/http/controller/user.go
  internal/delivery/http/server.go
Labels: none

refactor(cms): renamed http to api delivery :fire:
  .github/renovate.json
  api.go
  config/config.json
  internal/delivery/api/controller/user.go
  internal/delivery/api/server.go
  internal/delivery/api/types.go
  internal/delivery/http/controller/user.go
  internal/delivery/http/server.go
  internal/domain/user/repository.go
  internal/domain/user/service.go
  internal/dto/user.go
  internal/infra/database/repository/user.go
  internal/infra/database/repository/user_test.go
  internal/service/user.go
  internal/service/user_test.go
  internal/utils/config.go
  internal/utils/config_test.go
  test/mocks.go
  ui/dash/Dockerfile
  ui/dash/package.json
Labels: ci

feat(cms): added /register endpoint :rocket:
  api.go
  internal/delivery/api/controller/user.go
  internal/delivery/api/server.go
  internal/infra/config/config.go
  internal/infra/database/gorm.go
  internal/utils/config.go
Labels: none

chore: added PRD v1.0.0
  LICENSE
  README.md
  checklist.md
  notes.md
  omed.md
Labels: docs

Initial commit from Create Next App
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  biome.json
  bun.lock
  next.config.ts
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Labels: docs

chore: initial commit :rocket:
  .editorconfig
  bun.lock
  compose.yaml
  drizzle.config.ts
  package.json
  src/auth.ts
  src/config/env.ts
  src/config/index.ts
  src/database/core/adapter.ts
  src/database/core/getTestDB.ts
  src/database/core/web-server.ts
  src/database/index.ts
  src/database/model/account.spec.ts
  src/database/model/account.ts
  src/database/relations.ts
  src/database/schema/accounts.ts
  src/database/schema/better-auth.ts
  src/database/schema/index.ts
  src/database/schema/omed.ts
  src/database/type.ts
  src/libs/better-auth/defineConfig.ts
  src/libs/better-auth/type.ts
  tests/user.ts
  vitest.config.mts
Labels: none

chore: initial commit :rocket:
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  biome.json
  bun.lock
  drizzle.config.ts
  next.config.ts
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/auth.ts
  src/config/env.ts
  src/config/index.ts
  src/database/core/adapter.ts
  src/database/core/web-server.ts
  src/database/index.ts
  src/database/schema/better-auth.ts
  src/database/schema/index.ts
  src/database/type.ts
  src/libs/better-auth/defineConfig.ts
  src/libs/better-auth/index.ts
  tsconfig.json
  vitest.config.mts
Labels: docs

chore: wip
  .gitignore
  bun.lock
  drizzle.config.ts
  package.json
  src/app/api/[[...slugs]]/route.ts
  src/config/env.ts
  src/database/core/getTestDB.ts
  src/database/index.ts
  src/database/model/account.spec.ts
  src/database/model/account.ts
  src/database/relations.ts
  src/database/schema/better-auth.ts
  src/database/schema/finance.ts
  src/database/schema/index.ts
  src/database/type.ts
  src/libs/better-auth/defineConfig.ts
  src/server/better-auth.ts
  src/server/index.ts
  src/server/modules/finance/account.ts
  src/server/modules/finance/index.ts
  src/server/modules/index.ts
  src/service/finance/account.ts
  src/service/finance/index.ts
  src/service/index.ts
  src/service/user/index.ts
  src/service/user/user.ts
  tests/auth.ts
  tsconfig.json
  vitest.config.mts
Labels: none

chore: wip
  src/server/modules/finance/account.ts
Labels: none

chore: wip
  src/database/core/web-server.ts
  src/database/model/account.spec.ts
  src/database/model/user.ts
  src/database/schema/better-auth.ts
  src/libs/better-auth/defineConfig.ts
  src/service/user/user.ts
  tests/auth.ts
  vitest.config.mts
Labels: none

feat: add auth layout, login page, and dashboard components
  biome.json
  bun.lock
  next.config.ts
  package.json
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(backend)/home/page.tsx
  src/app/(backend)/layout.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/config/env.ts
  src/database/core/getTestDB.ts
  src/database/core/web-server.ts
  src/database/model/account.spec.ts
  src/database/model/account.ts
  src/database/model/user.ts
  src/database/schema/better-auth.ts
  src/database/schema/finance.ts
  src/database/type.ts
  src/feature/auth/LoginPage.tsx
  src/feature/auth/component/LoginForm.tsx
  src/feature/home/HomePage.tsx
  src/libs/better-auth/client.ts
  src/libs/better-auth/defineConfig.ts
  src/libs/better-auth/sso.ts
  src/proxy.ts
  src/ui/layout/AuthLayout.tsx
  src/ui/layout/DashboardLayout.tsx
  src/ui/layout/menu.tsx
  tests/auth.ts
  vitest.config.mts
Labels: none

chore: wip
  drizzle.config.ts
  src/database/core/web-server.ts
  src/ui/layout/DashboardLayout.tsx
Labels: none

chore: wip
  .editorconfig
  .gitignore
  .vscode/settings.json
  bun.lock
  cucumber.js
  e2e/features/user/home.feature
  e2e/steps/common/auth.steps.ts
  e2e/steps/common/navigation.steps.ts
  e2e/steps/hooks.ts
  e2e/support/world.ts
  package.json
  src/database/core/getTestDB.ts
  src/database/model/account.spec.ts
  src/database/model/user.spec.ts
  src/database/model/user.ts
  src/database/relations.ts
  src/database/schema/better-auth.ts
  src/database/schema/core.ts
  src/database/schema/finance.ts
  src/database/schema/index.ts
  src/database/schema/workspaces.ts
  src/database/type.ts
  src/libs/better-auth/defineConfig.ts
  src/libs/better-auth/plugins/index.ts
  src/libs/better-auth/plugins/workspace.ts
  src/service/user/user.ts
  tests/auth.ts
  tsconfig.json
Labels: none

chore: wip
  .editorconfig
  .gitignore
  .vscode/settings.json
  apps/dash/.gitignore
  apps/dash/AGENTS.md
  apps/dash/CLAUDE.md
  apps/dash/README.md
  apps/dash/biome.json
  apps/dash/bun.lock
  apps/dash/next.config.ts
  apps/dash/package.json
  apps/dash/postcss.config.mjs
  apps/dash/public/.gitkeep
  apps/dash/src/app/globals.css
  apps/dash/src/app/layout.tsx
  apps/dash/src/app/page.tsx
  apps/dash/tsconfig.json
  biome.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/auth/src/client.ts
  packages/auth/src/drizzle/adapter.ts
  packages/auth/src/drizzle/index.ts
  packages/auth/src/drizzle/relations.ts
  packages/auth/src/drizzle/schema/better-auth.ts
  packages/auth/src/drizzle/schema/index.ts
  packages/auth/src/env.ts
  packages/auth/src/hooks/createUserHook.ts
  packages/auth/src/index.ts
  packages/auth/src/type.ts
  packages/auth/tsconfig.json
  packages/auth/tsdown.config.ts
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  turbo.json
Labels: none

chore: wip
  apps/dash/package.json
  apps/dash/src/feature/home/JWT.tsx
  apps/dash/src/shared/hooks/useApi.ts
  apps/finance/.air.toml
  bun.lock
  packages/api/package.json
  packages/api/src/env.ts
  packages/api/src/index.ts
  packages/auth/src/better-auth/auth.ts
  packages/auth/src/better-auth/client.ts
  packages/auth/src/drizzle/schema/better-auth.ts
  packages/auth/src/service/index.ts
  packages/auth/src/service/user.ts
  packages/auth/src/service/workspace.ts
Labels: none

chore: wip
  apps/blog/.gitignore
  apps/blog/Cargo.lock
  apps/blog/Cargo.toml
  apps/blog/src/delivery/http/health_controller.rs
  apps/blog/src/main.rs
  apps/dash/src/app/(dash)/blog/articles/page.tsx
  apps/dash/src/app/(dash)/blog/settings/page.tsx
  apps/dash/src/app/(dash)/finance/accounts/page.tsx
  apps/dash/src/app/(dash)/finance/invoices/page.tsx
  apps/dash/src/app/(dash)/finance/reports/page.tsx
  apps/dash/src/app/(dash)/finance/transactions/page.tsx
  apps/dash/src/app/(dash)/settings/page.tsx
  apps/dash/src/app/layout.tsx
  apps/dash/src/app/proxy.ts
  apps/dash/src/feature/blog/ArticlesPage.tsx
  apps/dash/src/feature/blog/SettingsPage.tsx
  apps/dash/src/feature/finance/AccountsPage.tsx
  apps/dash/src/feature/finance/InvoicesPage.tsx
  apps/dash/src/feature/finance/ReportsPage.tsx
  apps/dash/src/feature/finance/TransactionsPage.tsx
  apps/dash/src/feature/settings/SettingsPage.tsx
  apps/dash/src/shared/common/Underconstruction.tsx
  apps/dash/src/shared/ui/layouts/DashboardLayout.tsx
  apps/dash/src/shared/ui/layouts/menu-items.tsx
  apps/finance/.air.toml
  apps/finance/client/openapi.ts
  apps/finance/docs/docs.go
  apps/finance/docs/swagger.json
  apps/finance/docs/swagger.yaml
  apps/finance/package.json
Labels: none

chore: wip
  apps/finance/internal/delivery/http/account_controller.go
  apps/finance/internal/delivery/http/account_controller_test.go
  apps/finance/internal/delivery/http/helper.go
  apps/finance/internal/infra/repository/account_repository.go
  apps/finance/internal/model/account_model.go
  apps/finance/internal/model/envelope.go
  apps/finance/internal/service/account_service.go
  apps/finance/testutil/endpoint.go
Labels: none

chore: wip
  apps/blog/Cargo.lock
  apps/blog/Cargo.toml
  apps/blog/src/config/bootstrap.rs
  apps/blog/src/config/mod.rs
  apps/blog/src/config/router.rs
  apps/blog/src/delivery/http/health_controller.rs
  apps/blog/src/delivery/http/mod.rs
  apps/blog/src/delivery/mod.rs
  apps/blog/src/main.rs
Labels: none

chore: initial-commit
  .editorconfig
  .gitignore
  .vscode/settings.json
  LICENSE
  README.md
  apps/auth/.gitignore
  apps/auth/package.json
  apps/auth/src/dev.ts
  apps/auth/src/index.ts
  apps/auth/src/openapi.ts
  apps/auth/tsconfig.json
  apps/auth/vercel.json
  biome.json
  bun.lock
  omed.code-workspace
  package.json
  packages/better-auth/drizzle.config.ts
  packages/better-auth/package.json
  packages/better-auth/src/auth.ts
  packages/better-auth/src/client.ts
  packages/better-auth/src/config/index.ts
  packages/better-auth/src/drizzle/adapter.ts
  packages/better-auth/src/drizzle/index.ts
  packages/better-auth/src/drizzle/relations.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/drizzle/schema/index.ts
  packages/better-auth/src/drizzle/schema/schema.ts
  packages/better-auth/src/index.ts
  packages/better-auth/tsconfig.json
  packages/better-auth/tsdown.config.ts
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  turbo.json
Labels: docs

chore: wip latest
  apps/auth/src/openapi.ts
Labels: none

chore: wip latest
  apps/auth/src/openapi.ts
Labels: none

chore: wip latest
  .github/workflows/auth-deploy.yaml
  apps/auth/src/index.ts
Labels: ci

chore: wip latest
  .github/workflows/auth-deploy.yaml
Labels: ci

chore: wip latest
  package.json
Labels: none

chore: wip latest
  .github/workflows/auth-deploy.yaml
Labels: ci

chore: wip latest
  apps/auth/.gitignore
  apps/auth/wrangler.toml
Labels: none

chore: wip latest
  apps/auth/.gitignore
  apps/auth/src/index.ts
Labels: none

chore: wip
  apps/dash/app/context.ts
  apps/dash/app/feature/blog/ArticlesPage.tsx
  apps/dash/app/feature/blog/SettingsPage.tsx
  apps/dash/app/feature/home/JWT.tsx
  apps/dash/app/feature/home/component/Status.tsx
  apps/dash/app/features/auth/AuthLayout.tsx
  apps/dash/app/features/auth/LoginPage.tsx
  apps/dash/app/features/auth/component/LoginForm.tsx
  apps/dash/app/features/auth/component/LogoutButton.tsx
  apps/dash/app/features/blog/ArticlesPage.tsx
  apps/dash/app/features/blog/PagesPage.tsx
  apps/dash/app/features/finance/AccountsPage.tsx
  apps/dash/app/features/finance/InvoicesPage.tsx
  apps/dash/app/features/finance/ReportsPage.tsx
  apps/dash/app/features/finance/TransactionsPage.tsx
  apps/dash/app/features/finance/components/AccountLists.tsx
  apps/dash/app/features/home/HomePage.tsx
  apps/dash/app/features/home/component/Status.tsx
  apps/dash/app/features/settings/SettingsPage.tsx
  apps/dash/app/middleware/auth.ts
  apps/dash/app/routes/_auth.login.tsx
  apps/dash/app/routes/_dash.blog.articles.tsx
  apps/dash/app/routes/_dash.blog.pages.tsx
  apps/dash/app/routes/_dash.blog.settings.tsx
  apps/dash/app/routes/_dash.finance.accounts.tsx
  apps/dash/app/routes/_dash.finance.invoices.tsx
  apps/dash/app/routes/_dash.finance.reports.tsx
  apps/dash/app/routes/_dash.finance.transactions.tsx
  apps/dash/app/routes/_dash.home.tsx
  apps/dash/app/routes/_dash.settings._index.tsx
  apps/dash/app/routes/_dash.tsx
  apps/dash/app/shared/api/finance.ts
  apps/dash/app/shared/auth/cache.ts
  apps/dash/app/shared/auth/index.ts
  apps/dash/app/shared/contexts/auth.ts
  apps/dash/app/shared/contexts/index.ts
  apps/dash/app/shared/providers/AuthProvider.tsx
  apps/dash/app/shared/ui/DashboardLayout.tsx
  apps/dash/app/shared/ui/Underconstruction.tsx
  apps/dash/app/shared/ui/menu-items.tsx
Labels: none

chore: wip
  apps/auth/drizzle.config.ts
  apps/auth/package.json
  apps/auth/src/auth.ts
  apps/dash/package.json
  bun.lock
  omed.code-workspace
  packages/better-auth/drizzle.config.ts
  packages/better-auth/env.test
  packages/better-auth/package.json
  packages/better-auth/src/auth.options.ts
  packages/better-auth/src/auth.spec.ts
  packages/better-auth/src/auth.ts
  packages/better-auth/src/config/index.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/drizzle/schema/index.ts
  packages/better-auth/src/service.ts
  packages/better-auth/src/type.ts
Labels: none

chore: wip
  apps/auth/src/auth.ts
  packages/better-auth/env.test
  packages/better-auth/src/auth.options.ts
  packages/better-auth/src/auth.spec.ts
  packages/better-auth/src/auth.ts
  packages/better-auth/src/drizzle/adapter.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/service.ts
  packages/better-auth/src/type.ts
  packages/better-auth/vitest.config.ts
Labels: none

chore: wip
  apps/dash/package.json
  apps/finance/internal/shared/auth.go
  packages/better-auth/src/auth.options.ts
  packages/better-auth/src/auth.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/service.ts
  packages/better-auth/src/type.ts
Labels: none

chore: wip
  apps/finance/ent/schema/sch_account.go
  apps/finance/internal/config/bootstrap.go
  apps/finance/internal/config/service.go
  apps/finance/internal/repository/account_repository.go
  apps/finance/internal/service/account_service.go
Labels: none

chore: wip
  apps/finance/internal/repository/account_repository.go
  apps/finance/tests/account_test.go
  apps/finance/testutil/db.go
  apps/finance/testutil/init.go
Labels: none

chore: wip
  apps/finance/internal/repository/workspace_repository.go
Labels: none

chore: wip
  apps/finance/ent/schema/sch_account.go
  apps/finance/ent/schema/sch_user.go
  apps/finance/ent/schema/sch_workspace.go
  apps/finance/ent/user.go
  apps/finance/ent/workspace.go
  apps/finance/internal/config/ent.go
  apps/finance/internal/repository/account_repository.go
Labels: none

chore: wip
  apps/finance/.notes/tasks.md
  apps/finance/internal/config/fiber.go
  apps/finance/internal/config/service.go
  apps/finance/internal/http/controller/ledger_period_controller.go
  apps/finance/internal/model/ledger_period_model.go
  apps/finance/internal/repository/ledger_period_repository.go
  apps/finance/internal/service/ledger_period_service.go
  apps/finance/internal/shared/authz/policy.csv
  apps/finance/internal/shared/authz/resource.go
  apps/finance/internal/shared/errors.go
Labels: none
