Repository kilip/omed, changes with the labels that .github/labeler.yaml gives for each.
All labels: cms, dash, demo, ci, docs, test

fix(dash): standardize env var name
  .devcontainer/compose.yaml
  apps/dash/package.json
  apps/dash/react-router.config.ts
Labels: none

fix(fin): standardize env var name
  .devcontainer/devcontainer.json
  apps/finance/internal/config/config.go
Labels: none

chore(ci): fix devcontainer config
  .devcontainer/devcontainer.json
Labels: none

chore(ci): devcontainer configuration fix
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  apps/dash/package.json
  apps/dash/react-router.config.ts
Labels: none

chore(ci): initial commit :rocket:
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  .devcontainer/initdb/01-schemas.sql
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  bun.lock
  commitlint.config.ts
  package.json
  turbo.json
Labels: none

feat(auth): added base auth setup
  apps/auth/package.json
  apps/auth/src/auth.ts
  apps/auth/src/index.ts
  apps/auth/src/openapi.ts
  apps/auth/src/server.ts
  apps/auth/wrangler.toml
  bun.lock
  packages/better-auth/package.json
  packages/better-auth/src/auth.ts
  packages/better-auth/src/authEnv.ts
  packages/better-auth/src/drizzle/adapter.ts
  packages/better-auth/src/drizzle/better-auth.ts
  packages/better-auth/src/drizzle/getTestDB.ts
  packages/better-auth/src/drizzle/index.ts
  packages/better-auth/src/drizzle/relations.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/drizzle/schema/index.ts
  packages/better-auth/src/index.ts
  packages/better-auth/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
Labels: none

chore(ci): added LICENSE file
  LICENSE
Labels: none

fix(auth): added base better-auth configuration
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  apps/auth/drizzle.config.ts
  apps/auth/package.json
  apps/auth/wrangler.toml
  bun.lock
  package.json
  packages/better-auth/package.json
  packages/better-auth/src/auth.spec.ts
  packages/better-auth/src/auth.ts
  packages/better-auth/src/authEnv.ts
  packages/better-auth/src/drizzle/better-auth.ts
  packages/better-auth/src/drizzle/schema/better-auth.ts
  packages/better-auth/src/options.ts
  packages/better-auth/src/schema.ts
  packages/better-auth/src/service.ts
  packages/better-auth/src/type.ts
  packages/better-auth/vitest.config.ts
  turbo.json
Labels: none

feat(dash): add en and id lang support
  apps/dash/app/features/Auth/LoginPage.tsx
  apps/dash/app/features/Blog/BlogPage.tsx
  apps/dash/app/features/Finance/FinancePage.tsx
  apps/dash/app/features/Home/HomePage.tsx
  apps/dash/app/features/Settings/SettingsPage.tsx
  apps/dash/app/lib/i18n.ts
  apps/dash/app/locales/en/auth.json
  apps/dash/app/locales/en/blog.json
  apps/dash/app/locales/en/common.json
  apps/dash/app/locales/en/finance.json
  apps/dash/app/locales/en/home.json
  apps/dash/app/locales/en/nav.json
  apps/dash/app/locales/en/settings.json
  apps/dash/app/locales/en/underConstruction.json
  apps/dash/app/locales/id/auth.json
  apps/dash/app/locales/id/blog.json
  apps/dash/app/locales/id/common.json
  apps/dash/app/locales/id/finance.json
  apps/dash/app/locales/id/home.json
  apps/dash/app/locales/id/nav.json
  apps/dash/app/locales/id/settings.json
  apps/dash/app/locales/id/underConstruction.json
  apps/dash/app/middleware/auth.ts
  apps/dash/app/root.tsx
  apps/dash/app/shared/hooks/useAppLanguage.ts
  apps/dash/app/shared/ui/LanguageSwitcher.tsx
  apps/dash/app/shared/ui/MainLayout.tsx
  apps/dash/app/shared/ui/ThemeProvider.tsx
  apps/dash/app/shared/ui/UnderConstruction.tsx
  apps/dash/package.json
  bun.lock
Labels: none

chore(ci): added biome check into pre-commit
  .husky/pre-commit
  apps/auth/drizzle.config.ts
  apps/auth/src/openapi.ts
  apps/dash/app/features/Auth/LoginPage.tsx
  apps/dash/app/root.tsx
  apps/dash/app/shared/hooks/useAppLanguage.ts
  apps/dash/app/shared/ui/LanguageSwitcher.tsx
  apps/dash/app/shared/ui/MainLayout.tsx
  apps/dash/tsconfig.json
  apps/dash/vite.config.ts
  biome.json
  package.json
  packages/better-auth/src/drizzle/getTestDB.ts
  packages/better-auth/src/drizzle/relations.ts
  packages/tsconfig/base.json
  turbo.json
Labels: none

chore(ci): added renovate config
  .devcontainer/compose.yaml
  .github/renovate.json
Labels: ci

chore(ci): configure release-please and docker workflows
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  apps/auth/Dockerfile
  apps/auth/package.json
  apps/auth/src/main.ts
  apps/dash/.dockerignore
  apps/dash/Dockerfile
  apps/finance/Dockerfile
  bun.lock
  package.json
  release-please-config.json
Labels: ci

chore(ci): added README.md
  README.md
Labels: docs

chore(ci): fix release-please initial version to 0.1.0
  release-please-config.json
Labels: none

chore(ci): using aspri-bos bot for generating release commit
  .github/workflows/release-please.yml
Labels: ci

chore(ci): added README.md
  README.md
Labels: docs

chore(ci): using aspri-bos bot for generating release commit
  .github/workflows/release-please.yml
Labels: ci

chore(ci): fix release-please initial version to 0.1.0
  release-please-config.json
Labels: none

chore(deps): fix monorepo package deps version
  .github/renovate.json
  apps/dash/package.json
  packages/better-auth/package.json
Labels: ci

chore(ci): start finance server during e2e test
  e2e/README.md
  e2e/env.ts
  e2e/servers.ts
Labels: none

perf(dash): update vite config to optimize dependencies
  apps/dash/vite.config.ts
Labels: none

chore(ci): add cucumber extension to devcontainer
  .devcontainer/devcontainer.json
  .gitignore
Labels: none

fix(ci): fix playwright install and setup go in e2e workflow
  .github/workflows/e2e.yml
Labels: ci

fix(ci): install chromium directly without apt-get deps
  .github/workflows/e2e.yml
Labels: ci

fix(ci): precompile finance api and increase e2e server timeout
  .github/workflows/e2e.yml
  .vscode/extensions.json
  .vscode/settings.json
  e2e/README.md
  e2e/servers.ts
Labels: ci

fix(ci): output finance binary to bin/api for e2e test
  .github/workflows/e2e.yml
Labels: ci

fix(ci): import fs in e2e servers
  e2e/servers.ts
Labels: none

fix(ci): fix playwright install and setup go in e2e workflow
  .github/workflows/e2e.yml
Labels: ci

chore(deps): fix monorepo package deps version
  .github/renovate.json
  apps/dash/package.json
  packages/better-auth/package.json
Labels: ci

fix(ci): output finance binary to bin/api for e2e test
  .github/workflows/e2e.yml
Labels: ci

chore(ci): start finance server during e2e test
  e2e/README.md
  e2e/env.ts
  e2e/servers.ts
Labels: none

fix(ci): precompile finance api and increase e2e server timeout
  .github/workflows/e2e.yml
  .vscode/extensions.json
  .vscode/settings.json
  e2e/README.md
  e2e/servers.ts
Labels: ci

fix(ci): import fs in e2e servers
  e2e/servers.ts
Labels: none

fix(ci): install chromium directly without apt-get deps
  .github/workflows/e2e.yml
Labels: ci

perf(dash): update vite config to optimize dependencies
  apps/dash/vite.config.ts
Labels: none

chore(ci): add cucumber extension to devcontainer
  .devcontainer/devcontainer.json
  .gitignore
Labels: none

chore(ci): improve devcontainer config
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  packages/better-auth/src/drizzle/schema/outbox.ts
Labels: none

feat(auth): kafka integration
  apps/auth/package.json
  apps/auth/scripts/db-triggers.ts
  apps/auth/src/main.ts
  bun.lock
  packages/better-auth/package.json
  packages/better-auth/src/authEnv.ts
  packages/better-auth/src/drizzle/getTestDB.ts
  packages/better-auth/src/drizzle/index.ts
  packages/better-auth/src/drizzle/schema/index.ts
  packages/better-auth/src/drizzle/schema/outbox.ts
  packages/better-auth/src/drizzle/triggers.ts
  packages/better-auth/src/outbox.spec.ts
  packages/better-auth/src/relay.ts
  packages/better-auth/src/service.ts
  packages/better-auth/src/topics.ts
Labels: none

fix(auth): change dev command
  apps/auth/package.json
  turbo.json
Labels: none

feat(fin): integrated kafka into user snapshot
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  apps/auth/package.json
  apps/finance/cmd/api/main.go
  apps/finance/ent/account_create.go
  apps/finance/ent/generate.go
  apps/finance/ent/user_create.go
  apps/finance/ent/workspace_create.go
  apps/finance/go.mod
  apps/finance/go.sum
  apps/finance/internal/config/config.go
  apps/finance/internal/config/ent.go
  apps/finance/internal/config/kafka.go
  apps/finance/internal/kafka/consumer.go
  apps/finance/internal/repository/user_repository.go
  apps/finance/internal/repository/workspace_repository.go
  apps/finance/internal/service/event_sync.go
  apps/finance/internal/service/user_snapshot.go
  packages/better-auth/src/options.ts
Labels: none

.github/labeler.yaml:

---
# Areas
cms:
  - changed-files:
      - any-glob-to-any-file:
          - "cms/**/*"

dash:
  - changed-files:
      - any-glob-to-any-file:
          - "ui/apps/dash/**/*"

demo:
  - changed-files:
      - any-glob-to-any-file:
          - "ui/apps/demo/**/*"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"

test:
  - changed-files:
      - any-glob-to-any-file:
          - "cms/test/**/*"
          - "ui/apps/**/*.spec.ts"
          - "ui/apps/**/*.test.ts"
          - "ui/packages/**/*.spec.ts"
          - "ui/packages/**/*.test.ts"
